@font-face {
    font-family: 'HindSiliguri';
    src: url('../../../assets/Fonts/HindSiliguri-Medium.ttf');
}



.mServicesDiv{
width:100%;
height: 70vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1000;
margin-top: 5%;
// background-image: url("../../../assets/SVG/wave1.svg");
// border-radius: 10000px;
// background-repeat:no-repeat;


.mServicesDivTitle{
text-align: center;
width: fit-content;
height: fit-content;
line-height: 10px;
.ServiceTitle{
color:#000000;
font-family:'Times New Roman', Times, serif;
font-size: 50px;
    
}
hr{
    width: 40px;
    height: 2px;
    border: none;
    background: #e94b81;
}
}



.ServicesBox{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 0px;
.UiBox{
    position: relative;
    display: flex;
    flex-direction: column;
align-items: center;
text-align: center;
background: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;width: 430px;
height: 340px;
margin: 30px;
border-radius: 10px;
padding-top: 10px;
line-height: 0px;
.BG{
    background: rgb(230, 228, 228);
    width: fit-content;
    color: black;
    padding: 20px;
    z-index: 1000;
    border-radius: 30222px;
    .F{
        width: 50px;
        height: 50px;
        color: rgb(0, 0, 0);
        }

}

cursor: pointer;
.ServiceNote{
line-height: 20px;
font-family: 500;
font-family: "HindSiliguri";
color: gray;
width: 300px;
z-index: 1000;

}
h1{
    margin: 34px;
   font-family: "HindSiliguri";
   z-index: 1000;

}

.BottomColorAnimation{
position: absolute;
background:#208efe;
width: 100%;
height: 10px;
bottom: 0;
border-radius: 10px;


}
&:hover{
    .BottomColorAnimation{
        background-color: #208efe;
        height: 120px;
        margin-top:0px;
        height: 350px;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
.ServiceNote{color: white;}
h1{color:white;}

.BG{ background: white;.F{color:#208efe;}}

    }
    
}
.MobileBox{
    position: relative;
    display: flex;
    flex-direction: column;
align-items: center;
text-align: center;
background: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
width: 430px;
height: 340px;

border-radius: 10px;
margin: 30px;
padding: 10px;
line-height: 0px;
cursor: pointer;
.ServiceNoteMobile{

    line-height: 20px;
    font-family: 500;
    font-family: "HindSiliguri";
    color: gray;
    width: 300px;
    z-index: 100;

}
.BG{
    background: rgb(230, 228, 228);
    width: fit-content;
    padding: 20px;
    z-index: 1000;
    border-radius: 34440px;
    .F{
        width: 50px;
        height: 50px;
        
        }

}
h1{
    margin: 34px;
   font-family: "HindSiliguri";
   z-index: 100;
}

.BottomColorAnimation{
    position: absolute;
    background:#208efe;
    width: 100%;
    height: 10px;
    bottom: 0;
    border-radius: 10px;
    
    
    }
    &:hover{
        .BottomColorAnimation{
            background-color: #208efe;
            
            height: 360px;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }
    .ServiceNoteMobile{color: white;}
    h1{color:white;}
    
    .BG{ background: white;.F{color:#208efe;}}
    
        }
        
}
.Web-development{
    position: relative;
    display: flex;
    flex-direction: column;
align-items: center;
text-align: center;
background: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
width: 430px;
height: 340px;

border-radius: 10px;
margin: 30px;
padding: 10px;
line-height: 0px;
    cursor: pointer;
    .ServiceNoteDevelopment{

    line-height: 20px;
    font-family: 500;
    font-family: "HindSiliguri";
    color: gray;
    width: 300px;
    z-index: 1000;

}
    .BG{
        background: rgb(230, 228, 228);
        width: fit-content;
        padding: 20px;
        border-radius: 30px;
        z-index: 100;
        .F{
            width: 50px;
            height: 50px;
            
            }
    
    }
    h1{
        margin: 34px;
       font-family: "HindSiliguri";
       z-index: 100;
    }
    .BottomColorAnimation{
        position: absolute;
        background:#208efe;
        width: 100%;
        height: 10px;
        bottom: 0;
        border-radius: 10px;
        
        
        }
        &:hover{
            .BottomColorAnimation{
                background-color: #208efe;
                
                height: 360px;
                -moz-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        .ServiceNoteDevelopment{color: white;}
        h1{color:white;}
        
        .BG{ background: white;.F{color:#208efe;}}
        
            }
            
}

}

}


@media (max-width:768px) {
    
    .mServicesDiv{
     
margin-top: 400px;


        .ServicesBox{

display: flex;
justify-content: center;

        }
    }



}

