@font-face {
    font-family: 'HindSiliguri';
    src: url('../../../assets/Fonts/HindSiliguri-Medium.ttf');
}
.Work-container{
display: flex;
width: 100%;
height: 400px;
margin-top: 30rem;
align-items: center;
justify-content: center;


.Skills-left{
font-family: "HindSiliguri";
.Skills-title{

color: #e94b81;

}

}









}